{% extends 'base.html.twig' %}


{% block title %} Práctica T44 {% endblock %}

{% block body %}

 <ul>
	<li><a href="{{ path('_t44_static', {'page_name': 'info'}) }}">Página de información</a></li>
	<li><a href="{{ path('_t44_static', {'page_name': 'contact'}) }}">Página de contacto</a></li>
	<li><a href="{{ path('_t44_static', {'page_name': 'about'}) }}">Página about</a></li>
 </ul>
 
 
        
{% endblock %}