{% extends 'base.html.twig' %}

{% block title %} Pr치ctica T44. Info {% endblock %}

{% block body %}

<h2>P치gina de Informaci칩n</h2>

<ul>
<li><strong>Controlador:</strong> {{ app.request.attributes.get('_controller') }} </li>
<li><strong>par치metro:</strong>{{ app.request.attributes.get('page_name') }}</li>
    
</ul>

        
{% endblock %}