{% extends 'base.html.twig' %}

{% block title %} Producto {{ product.name }} creado!! {% endblock %}

{% block body %}

<p>
Producto <strong>{{ product.name }}</strong> con id : <strong> {{ product.id }}</strong>
</p>
 
<ul>
	<li><a href="{{ path('_t51_index') }}">Índice actividad</a></li>	
</ul>
        
{% endblock %}