{% extends 'base.html.twig' %}

{% block title %} Índice actividad {% endblock %}

{% block body %}


<ul>
	<li><a href="{{ path('_t51_product_create_static') }}">Crear producto stático</a></li>
	<li><a href="{{ path('_t51_product_create', {
							'name': 'Aqui mi nombre de producto',
							'price': '00.00'					  
					})
				 }}">Crear producto parametrizado</a></li>
	<li><a href="{{ path('_t51_product_show', {'id':'1'}) }}">Muestra producto indicado por parámetro id</a></li>
	<li><a href="{{ path('_t51_product_list') }}">Lista de productos</a></li>
		
</ul>
        
{% endblock %}