{% extends 'base.html.twig' %}

{% block title %} Índice actividad {% endblock %}

{% block body %}


<ul>
	<li><a href="{{ path('_t62_person_new') }}">Nuevo producto (formulario)</a></li>
	<li><a href="{{ path('_t62_person_list') }}">Crear producto stático</a></li>
	<li><a href="{{ path('_t62_person_show', {'id':'1'}) }}">Muestra producto indicado por parámetro id</a></li>
	<li><a href="{{ path('_t62_person_delete') }}">Lista de productos</a></li>
		
</ul>
        
{% endblock %}