{% extends 'base.html.twig' %}

{% block title %} Índice actividad {% endblock %}

{% block body %}


<ul>
	<li><a href="{{ path('_t62_person_new') }}">Nueva persona</a></li>
	<li><a href="{{ path('_t62_person_list') }}">Listado de personas</a></li>			
</ul>
        
{% endblock %}