{% extends 'base.html.twig' %}

{% block title %} Índice actividad {% endblock %}

{% block body %}


<ul>
	<li><a href="{{ path('_t61_category_new') }}">Nueva categoría(formulario)</a></li>
	<li><a href="{{ path('_t52_category_create', {
							'name': 'Nombre Categoría'												  
					})
				 }}">Crear categoría</a></li>	
	<li><a href="{{ path('_t52_category_list') }}">Listado de categorías</a></li>
	<li><a href="{{ path('_t52_product_list_category_all') }}">Listado de todos los productos por categorías</a></li>		
</ul>
        
{% endblock %}