{% extends 'base.html.twig' %}


{% block title %} Mensaje {% endblock %}

{% block content %}

<p>
{{ message }}
</p>
 
<ul>
	<li><a href="{{ app.request.headers.get('referer') }}">Atrás</a></li>	
</ul>


        
{% endblock %}