{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
{% endblock %}

{% block title %} Producto {{ product.name }} creado!! {% endblock %}

{% block body %}

<p>
Producto <strong>{{ product.name }}</strong> con id : <strong> {{ product.id }}</strong>
</p>
 
<ul>
	<li><a href="{{ path('list_product') }}">Listado de productos</a></li>	
</ul>
        
{% endblock %}