{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
{% endblock %}

{% block title %} Listado de productos {% endblock %}

{% block body %}

<h2> Listado de productos</h2>
 
 <table>
<tr>
<th> Nombre</th> <th> Descripción</th> <th> Precio(€) </th>
</tr>
{% for product in products %}
<tr>
	<td>{{ product.name }}</td><td>{{ product.description }}</td><td>{{ product.price }}</td>
</tr>
{% endfor %}
</table>
 
        
{% endblock %}