{% extends 'base.html.twig' %} 

{% block title %} Nuevo producto {% endblock %} 

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

<h2>Producto</h2>
<div class="row">
	<div class='col-sm-5'>
		{{ form_start(form) }}
		
		{{ form_widget(form) }}
		
		{{ form_end(form) }}
	</div>
</div>

<ul>
	<li><a href="{{ app.request.headers.get('referer') }}">Atrás</a></li>	
</ul>

{% endblock %}