{% extends 'base.html.twig' %}

{% block title %} Práctica T43. Default {% endblock %}

{% block body %}

<p> El parametro pasado por parámetro es  <strong>{{ page }}</strong> </p>
        
{% endblock %}