{% extends 'base.html.twig' %}

{% block title %} Práctica T43. format {% endblock %}

{% block body %}

<ul>
{% for key,value in data %}

	<li> {{ key }} > {{ value }} </li>
	
{% endfor %}
</ul>        
{% endblock %}