{% extends 'base.html.twig' %}

{% block title %} Práctica T43. Number {% endblock %}

{% block body %}

<p> El numero pasado por parámetro es  <strong>{{ number }}</strong> </p>
        
{% endblock %}